{% load static %}

<nav class="bg-[#FFFAEF] fixed shadow-md top-0 left-0 right-0 z-40 "> 
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <img src="{% static 'image/logo.png' %}" alt="Co-Hand Logo" class="h-8 mr-2"> 
          <h1 class="text-3xl font-extrabold text-center text-[#76865F]">Co-Hand</h1>
        </div>
        <div class="hidden md:flex items-center">
          {% if user.is_authenticated %}
            <a href ="{% url 'main:show_main' %}" class = "text-center text-[#8FA175] py-2 px-4 font-normal hover:font-bold hover:text-[#76865F] transition duration-300" >Home</a>
            <a href ="" class = "text-center text-[#8FA175] py-2 px-4 font-normal hover:font-bold hover:text-[#76865F] transition duration-300" >Products</a>
            <a href ="" class = "text-center text-[#8FA175] py-2 px-4 font-normal hover:font-bold hover:text-[#76865F] transition duration-300" >Categories</a>
            <a href="{% url 'main:logout' %}" class="text-center bg-[#F05555] hover:bg-[#EF3D3D] text-[#FFF8E6] font-bold py-2 px-4 rounded transition duration-300">
              Logout
            </a>
          {% else %}
            <a href="{% url 'main:login' %}" class="text-center bg-[#8FA175] hover:bg-[#76865F] text-[#FFF8E6] font-bold py-2 px-4 rounded transition duration-300 mr-2">
              Login
            </a>
            <a href="{% url 'main:register' %}" class="text-[#8FA175] border border-[#8FA175] hover:bg-[#76865F] font-bold py-2 px-4 rounded transition duration-300">
              Register
            </a>
          {% endif %}
        </div>
        <div class="md:hidden flex items-center">
          <button class="mobile-menu-button">
            <svg class="w-6 h-6 text-green-950 font-bold" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <!-- Mobile menu -->
    <div class="mobile-menu hidden md:hidden  px-4 w-full md:max-w-full">
      <div class="pt-2 pb-3 space-y-1 mx-auto">
        {% if user.is_authenticated %}
        <a href ="" class = "block text-left text-[#8FA175] py-2 px-4 font-normal text-[#76865F] hover:font-bold hover:bg-[#A5B68D] hover:bg-opacity-30 active:bg-opacity-25 transition duration-300" >Home</a>
        <a href ="" class = "block text-left text-[#8FA175] py-2 px-4 font-normal hover:font-bold hover:bg-[#A5B68D] hover:bg-opacity-30 active:bg-opacity-25 transition duration-300" >Products</a>
        <a href ="" class = "block text-left text-[#8FA175] py-2 px-4 font-normal hover:font-bold hover:bg-[#A5B68D] hover:bg-opacity-30 active:bg-opacity-25 transition duration-300" >Categories</a>
          <a href="{% url 'main:logout' %}" class="block text-center bg-[#F05555] hover:bg-[#EF3D3D] text-[#FFF8E6] font-bold py-2 px-4 rounded transition duration-300">
            Logout
          </a>
        {% else %}
        <a href="{% url 'main:login' %}" class="block text-center bg-green-600 hover:bg-green-800 text-orange-50 font-bold py-2 px-4 rounded transition duration-300 mr-2">
          Login
        </a>
        <a href="{% url 'main:register' %}" class="block text-green-800 border border-green-600 hover:bg-green-600 font-bold py-2 px-4 rounded transition duration-300">
          Register
        </a>
        {% endif %}
      </div>
    </div>
    <script>
      const btn = document.querySelector("button.mobile-menu-button");
      const menu = document.querySelector(".mobile-menu");
    
      btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
    </script>
</nav>