{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block meta %}
<title>Create Product</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="flex flex-col min-h-screen bg-[#EDE8DC]">
  <div class="container mx-auto px-4 py-8 mt-16 max-w-xl">
    <h1 class="text-3xl font-bold text-center mb-8 text-[#604B4B]">Create Product</h1>
  
    <div class="bg-[#FFFAEF] shadow-md rounded-lg p-6 form-style">
      <form method="POST" class="space-y-6">
        {% csrf_token %}
        {% for field in form %}
          <div class="flex flex-col">
            <label for="{{ field.id_for_label }}" class="mb-2 font-semibold text-[#604B4B]">
              {{ field.label }}
            </label>
            <div class="w-full">
              {{ field|add_class:"appearance-none block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-[#76865F] focus:border-[#76865F] sm:text-sm" }}
            </div>
            {% if field.help_text %}
              <p class="mt-1 text-sm text-gray-500">{{ field.help_text }}</p>
            {% endif %}
            {% for error in field.errors %}
              <p class="mt-1 text-sm text-red-600">{{ error }}</p>
            {% endfor %}
          </div>
        {% endfor %}
        <div class="flex justify-center mt-6">
          <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md bg-[#8FA175] hover:bg-[#76865F] text-[#FFF8E6] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#76865F]">
            Create Product
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
