{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="min-h-screen flex items-center justify-center w-screen bg-[#EDE8DC] py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">

    <div class="flex justify-center mb-6">
      <img src="{% static 'image/logo.png' %}" alt="Logo" class="h-20 w-auto">
    </div>

    <div>
      <h2 class="mt-6 text-center text-black text-3xl font-extrabold text-stone-600">
        Login to Your Account
      </h2>
    </div>
    <form class="mt-8 space-y-6" method="POST" action="">
      {% csrf_token %}
      <input type="hidden" name="remember" value="true">
      
      <!-- Input Username -->
      <div class="rounded-md shadow-sm">
        <label for="username" class="block text-sm font-medium text-[#604B4B] mb-1">Username</label>
        <input id="username" name="username" type="text" required class="appearance-none block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-[#76865F] focus:border-[#76865F] sm:text-sm" >
      </div>

      <!-- Input Password -->
      <div class="rounded-md shadow-sm mt-4">
        <label for="password" class="block text-sm font-medium text-[#604B4B] mb-1">Password</label>
        <input id="password" name="password" type="password" required class="appearance-none block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-[#76865F] focus:border-[#76865F] sm:text-sm" >
      </div>

      <!-- Tombol Submit -->
      <div class="mt-6">
        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md bg-[#8FA175] hover:bg-[#76865F] text-[#FFF8E6] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#76865F]">
          Sign in
        </button>
      </div>
    </form>

    {% if messages %}
    <div class="mt-4">
      {% for message in messages %}
        {% if message.tags == "success" %}
          <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
            <span class="block sm:inline">{{ message }}</span>
          </div>
        {% elif message.tags == "error" %}
          <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <span class="block sm:inline">{{ message }}</span>
          </div>
        {% else %}
          <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative" role="alert">
            <span class="block sm:inline">{{ message }}</span>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}

    <div class="text-center mt-4">
      <p class="text-sm text-black">
        Don't have an account yet?
        <a href="{% url 'main:register' %}" class="font-medium text-[#76865F] hover:text-[#525D42]">
          Register Now
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock content %}
