{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block meta %}
<title>Register</title>
{% endblock meta %}

{% block content %}
<div class="min-h-screen flex items-center justify-center w-screen bg-[#EDE8DC] py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div class="flex justify-center mb-6">
      <img src="{% static 'image/logo.png' %}" alt="Logo" class="h-20 w-auto">
    </div>

    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-stone-600">
        Create your account
      </h2>
    </div>
    
    <form class="mt-8 space-y-6" method="POST">
      {% csrf_token %}
      <input type="hidden" name="remember" value="true">

      <div class="rounded-md shadow-sm">
        {% for field in form %}
          <div class="{% if not forloop.first %}mt-4{% endif %}">
            <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-[#604B4B] mb-1">{{ field.label }}</label>
            <div class="relative">
              {{ field|add_class:'appearance-none block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-[#76865F] focus:border-[#76865F] sm:text-sm' }}
            </div>
            {% if field.errors %}
              {% for error in field.errors %}
                <p class="mt-1 text-sm text-red-600">{{ error }}</p>
              {% endfor %}
            {% endif %}
          </div>
        {% endfor %}
      </div>

      <div class="mt-6">
        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md bg-[#8FA175] hover:bg-[#76865F] text-[#FFF8E6] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#76865F]">
          Register
        </button>
      </div>
    </form>

    {% if messages %}
    <div class="mt-4">
      {% for message in messages %}
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline">{{ message }}</span>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="text-center mt-4">
      <p class="text-sm text-black">
        Already have an account?
        <a href="{% url 'main:login' %}" class="font-medium text-[#76865F] hover:text-[#525D42]">
          Login here
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock content %}